# Unity Project (IRellyTrid)
IRellyTrid/[Ll]ibrary/
IRellyTrid/[Tt]emp/
IRellyTrid/[Oo]bj/
IRellyTrid/[Bb]uild/
IRellyTrid/[Bb]uilds/
IRellyTrid/[Ll]ogs/
IRellyTrid/[Uu]ser[Ss]ettings/
IRellyTrid/[Mm]emoryCaptures/
IRellyTrid/[Rr]ecordings/

*.log

# Blender
*.blend1
*.blend1.meta

# Rider
IRellyTrid/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio
.vs/
.gradle/
ExportedObj/
.consulo/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Generated Meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash Files
sysinfo.txt
mono_crash.*
crashlytics-build.properties

# Build Outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Test Runner
InitTestScene*.unity*

# Addressables
IRellyTrid/ServerData/
IRellyTrid/[Aa]ssets/StreamingAssets/aa*
IRellyTrid/[Aa]ssets/AddressableAssetsData/link.xml*
IRellyTrid/[Aa]ssets/Addressables_Temp*
IRellyTrid/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
IRellyTrid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
IRellyTrid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
IRellyTrid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
IRellyTrid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto Generated Test Scenes
IRellyTrid/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Scene Dependency Cache
IRellyTrid/[Aa]ssets/[Ss]ceneDependencyCache*