# Unity Project

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

*.log

# Blender

*.blend1
*.blend1.meta

# Rider

/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio Code

.vscode/
*.code-workspace
.history/

# Visual Studio

.vs/
.gradle/
ExportedObj/
.consulo/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Generated Meta

*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash Files

sysinfo.txt
mono_crash.*
crashlytics-build.properties

# Build Outputs

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Test Runner

InitTestScene*.unity*

# Addressables

/ServerData/
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting

/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto Generated Test Scenes

/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Scene Dependency Cache

/[Aa]ssets/[Ss]ceneDependencyCache*

# Asset

*.jpg
